---
import Layout from '../layouts/Layout.astro';
import {Image} from 'astro:assets';
import alexPhoto from '../assets/images/alex-photo.webp';
import davidPhoto from '../assets/images/david-photo.webp';
import meghanPhoto from '../assets/images/meghan-photo.webp';
import mikePhoto from '../assets/images/mike-photo.webp';
import giordanoPhoto from '../assets/images/giordano-photo.webp';
import descendantsPhotoDesktop from '../assets/images/descendants-photo-desktop.webp';
import descendantsPhotoMobile from '../assets/images/descendants-photo-mobile.webp';
import georgeEastonPhoto from '../assets/images/george-easton-photo.webp';
---

<Layout 
    title="About - Easton Project"
    description="Learn about Easton Project, our mission, and how we're making a difference in the Montreal community."
    keywords="Easton Project, About, Mission, Montreal, Charity, Community"
    ogImage="/og-image.png"
>
<main class="about">
    <section class="our-board" aria-labelledby="our-board-heading">
        <div class="our-board__inner container">
            <h1 class="our-board__heading" id="our-board-heading">Our Board</h1>
            <p class="our-board__description">The Easton Project is addressing urgent and persistent barriers in Quebec’s addiction and mental health system—especially those affecting English-speaking residents.</p>
            <p class="our-board__description">From long wait times to financial constraints and a lack of transitional housing, the path to recovery is often obstructed.</p>
            <p class="our-board__description">Our three-pronged model provides swift, compassionate, and practical support that helps individuals take action when they’re ready to seek help—and stay the course toward long-term healing.</p>

            <div class="our-board__members">
                <article class="our-board__member">
                    <div class="our-board__member-photo">
                        <Image src={mikePhoto} alt="Mike - President" fetchpriority={'high'} loading={'lazy'}  />
                    </div>
                    <div class="our-board__member-info">
                        <h3 class="our-board__member-name">Mike Weston</h3>
                        <p class="our-board__member-title italic">President</p>
                        <p class="our-board__member-description">With over a decade of experience in the addiction treatment field, Mike is dedicated to removing financial barriers to care and ensuring individuals have access to the resources they need for recovery.</p>
                    </div>
                </article>
                <article class="our-board__member">
                    <div class="our-board__member-photo">
                        <Image src={davidPhoto} alt="David - Co-Founder"  fetchpriority={'high'} loading={'lazy'}  />
                    </div>
                    <div class="our-board__member-info">
                        <h3 class="our-board__member-name">Dr. David Luckow</h3>
                        <p class="our-board__member-title italic">Co-Founder</p>
                        <p class="our-board__member-description">With over a decade of experience in the addiction treatment field, Mike is dedicated to removing financial barriers to care and ensuring individuals have access to the resources they need for recovery.</p>
                    </div>
                </article>
                <article class="our-board__member">
                    <div class="our-board__member-photo">
                        <Image src={meghanPhoto} alt="Meghan - Treasurer" fetchpriority={'high'} loading={'lazy'}   />
                    </div>
                    <div class="our-board__member-info">
                        <h3 class="our-board__member-name">Meghan McJannet</h3>
                        <p class="our-board__member-title italic">Treasurer</p>
                        <p class="our-board__member-description">With over a decade of experience in the addiction treatment field, Mike is dedicated to removing financial barriers to care and ensuring individuals have access to the resources they need for recovery.</p>
                    </div>
                </article>
            </div>
            <div class="our-board__members">
                <article class="our-board__member">
                    <div class="our-board__member-photo">
                        <Image src={giordanoPhoto} alt="Giordano - Board Member"  loading={'lazy'}    />
                    </div>
                    <div class="our-board__member-info">
                        <h3 class="our-board__member-name">Giordano Baratta</h3>
                        <p class="our-board__member-title italic">Board Member</p>
                        <p class="our-board__member-description">With over a decade of experience in the addiction treatment field, Mike is dedicated to removing financial barriers to care and ensuring individuals have access to the resources they need for recovery.</p>
                    </div>
                </article>
                <article class="our-board__member">
                    <div class="our-board__member-photo">
                        <Image src={alexPhoto} alt="Alex - Board Member"  loading={'lazy'}    />
                    </div>
                    <div class="our-board__member-info">
                        <h3 class="our-board__member-name">Alex Boisselle</h3>
                        <p class="our-board__member-title italic">Board Member</p>
                        <p class="our-board__member-description">With over a decade of experience in the addiction treatment field, Mike is dedicated to removing financial barriers to care and ensuring individuals have access to the resources they need for recovery.</p>
                    </div>
                </article>

            </div>
        </div>
    </section>
    <section class="our-legacy" aria-labelledby="our-legacy-heading">
        <div class="our-legacy__inner container">
            <div class="our-legacy__content">
                <div class="our-legacy__content-inner">
                    <h2 class="our-legacy__heading" id="our-legacy-heading">An Enduring Legacy</h2>
                    <p class="our-legacy__description"><span class="bold">George Easton (1808–1884)</span> was an author and well-known member of the Scottish Temperance League during the nineteenth century. Born in the rural parish of Ewes in Dumfriesshire, he spent his younger years among the working class milieu of industrial Britain where overindulgence in alcohol was rife and led many of his colleagues to destitution. </p>
                    <p class="our-legacy__description">Between 1854 and 1882, in the days before psychology or treatment centres, he spoke at halls and churches all over Britain, Canada and the United States on the dangers of alcohol abuse. Halted only by failing health, his obituary estimated that he had travelled some 200,000 miles over his career with the League and delivered no fewer than 7,800 addresses.</p>
                </div>
                <div class="our-legacy__content-image">
                    <Image src={georgeEastonPhoto} alt="George Easton" loading={'lazy'} />
                </div>
            </div>
            <p class="our-legacy__description">Writing in his 1871 book <span class="italic"> Travels in America</span> on “the great contrast between Montreal’s appearance when wearing its winter garb, and when arrayed in its summer dress,” Easton concluded that “it seemed the finest city I visited in all my travels.”</p>
            <p class="our-legacy__description bold">The Easton Project has been established by George Easton’s descendants in Montreal as a tribute to his legacy of helping people suffering from substance abuse.</p>
            <div class="our-legacy-image">
                <picture>
                    <source media="(min-width: 768px)" srcset={descendantsPhotoDesktop.src} />
                    <Image 
                      src={descendantsPhotoMobile} 
                      alt="George Easton's Descendants"
                      format="avif"
                    />
                  </picture>
                <p class="our-legacy-image__description italic">George Easton descendants (L to R) Megan Williams, Isobel Williams, David Williams and William Weston.</p>
            </div>
        </div>
    </section>
</main>
</Layout>
